* { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
html { box-sizing: border-box; }
* { box-sizing: inherit; }
html, body {
    height: 100%;
    margin: 0;
}
body {
  color: #FFF;
  overflow-y: hidden;
}
